@font-face {
   font-family: SulSansRegular;
   src: local(SulSans), url(font/SulSans-Regular.otf);
}

@font-face {
   font-family: SulSansMedium;
   src: local(SulSans), url(font/SulSans-Medium.otf);
}

@font-face {
   font-family: SulSansBlack;
   src: local(SulSans), url(font/SulSans-Black.otf);
}

:root {
   --white: #ffffff;
   --white-medium: #f9f9f9;
   --light-color: #666;
   --black: #000000;
   --red: #cc1825;
   --dark-red: #9a1e25;
   --box-shadow: 0 0.1rem 0.5rem #ccc;
   --box-shadow-dark: 0 0.1rem 0.5rem rgb(20, 20, 20);
}

*::selection {
   background-color: var(--red);
   color: var(--white);
}

/*Barra de Rolagem Lateral*/

.body::-webkit-scrollbar {
   width: 14px;
   /* width of the entire scrollbar */
}

.body::-webkit-scrollbar-track {
   background: var(--white-medium);
   /* color of the tracking area */
}

.body::-webkit-scrollbar-thumb {
   background-color: #606060;
   /* color of the scroll thumb */
   border-radius: 20px;
   /* roundness of the scroll thumb */
   border: 3px solid var(--white-medium);
   /* creates padding around scroll thumb */
}

.body::-webkit-scrollbar-thumb:hover {
   background-color: #aaaaaa;
}

/*Barra de Rolagem Lateral DARK */

.body.dark::-webkit-scrollbar {
   width: 14px;
   /* width of the entire scrollbar */
}

.body.dark::-webkit-scrollbar-track {
   background: #181818;
   /* color of the tracking area */
}

.body.dark::-webkit-scrollbar-thumb {
   background-color: #aaaaaa;
   /* color of the scroll thumb */
   border-radius: 20px;
   /* roundness of the scroll thumb */
   border: 3px solid #181818;
   /* creates padding around scroll thumb */
}

.body.dark::-webkit-scrollbar-thumb:hover {
   background-color: #717171;
}

* {
   font-family: SulSansRegular;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: none;
   transition: all .2s linear;
}

html {
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 6.5rem;
}

body {
   display: block;
   margin: 0;
   background: var(--white-medium);
}

.dashboard {
   padding-top: 1.5rem;
   padding-bottom: 1.5rem;
}

.dashboard .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 1.5rem;
   align-items: flex-start;
   margin-left: 9.5%;
   margin-right: 9.5%;
}

.dashboard .box-container .box {
   padding: 2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
   border-radius: 10px;
}

.body.dark .dashboard .box-container .box {
   box-shadow: var(--box-shadow-dark);
   background-color: #252525;
}

.dashboard .box-container .box h3 {
   font-size: 3.5rem;
   color: var(--black);
}

.body.dark .dashboard .box-container .box h3 {
   color: var(--white);
}

.titulo {
   font-weight: bold;
   text-align: center;
   padding-top: 2.5rem;
   margin-bottom: 2.3rem;
   text-transform: capitalize;
   color: var(--black);
   font-size: 3.5rem;
}

.dashboard .box-container .box p {
   font-size: 2rem;
   color: var(--black);
   padding: 1.5rem;
   margin: 1rem 0;
   border-radius: 10px;
   opacity: 90%;
   background: #eee;
   width: 100%;
}

.body.dark .dashboard .box-container .box p {
   color: var(--white);
   background: #373737;
   opacity: 90%;
}

.body.dark {
   background: #181818;
}

.body.dark .inicial-text .text-h1 {
   color: var(--white);
}

.body.dark .inicial-text p {
   color: var(--white);
}

/*Slide Fotos*/
.body.dark .container {
   box-shadow: var(--box-shadow-dark);
}

p {
   font-size: 13pt;
}

a {
   outline: hidden;
   text-decoration: none;
   text-align: center;
}

li a:link {
   color: var(--white);
}

li a:visited {
   color: var(--white);
}

li a:hover {
   color: var(--white);
}

li a:active {
   color: var(--white);
}

.titulo {
   font-weight: bold;
   text-align: center;
   padding-top: 2.5rem;
   margin-bottom: 2.3rem;
   text-transform: capitalize;
   color: var(--black);
   font-size: 3.5rem;
}

.btn-index {
   margin-top: 1rem;
   display: inline-block;
   width: 100%;
   padding: 1.8rem 3rem;
   font-size: 2rem;
   border-radius: 10px;
   color: var(--white);
   cursor: pointer;
   background: var(--red);
}

.btn-index:hover {
   color: var(--white);
   background: var(--dark-red);
}


.body.dark .titulo {
   color: var(--white);
}

.body.dark .mensagem span {
   color: var(--white);
}

.body.dark .mensagem i {
   color: var(--red);
}

.body.dark .mensagem i:hover {
   color: var(--white);
}

@media (max-width:991px){

   html{
      font-size: 55%;
   }
   
}

@media (max-width:450px){

   html{
      font-size: 50%;
   }
   
}