:root {
    --white: #ffffff;
    --white-medium: #f9f9f9;
    --light-color: #666;
    --black: #000000;
    --red: #cc1825;
    --dark-red: #9a1e25;
    --box-shadow: 0 0.1rem 0.5rem #ccc;
    --box-shadow-dark: 0 0.1rem 0.5rem rgb(20, 20, 20);
}

/*Barra de navegação*/

.header {
    margin: 0 auto;
    position: sticky;
    background: var(--white);
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9.5%;
    box-shadow: var(--box-shadow);
    transition: all 0.5s;
}

/*logo ifish*/

.header .ifish-bar-admin {
    width: 143px;
}

/*Texto dos itens*/

.header .navbar a {
    font-family: SulSansRegular;
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
    transition: all 0.5s;
}

/*Alterar quando mouse passar pelo texto dos itens*/

.header .navbar a:hover {
    color: var(--red);
}

/*Icons lado direito*/

.header .icons div {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #e1e1e1;
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

/*Mouse passar pelo icons*/

.header .icons div:hover {
    background: var(--red);
    color: #fff;
    transition: all 0.3s;
}

/*ocultar menu para responsividade*/

#menu-btn {
    display: none;
}

/*Login Card*/

/*botão log in register*/
#btn {
    position: absolute;
    margin-left: 28px;
    top: 0.5;
    left: 70;
    width: 133px;
    height: 50px;
    border-radius: 30px;
    transition: all 0.5s;
    box-shadow: var(--box-shadow);
    background: #eee;
}

.header .log-register {
    position: absolute;
    top: 125%;
    right: -110%;
    width: 35rem;
    height: 240px;
    /*height: 575px;*/
    box-shadow: var(--box-shadow);
    padding: 1.5rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
    transition: 0.5s all;
    overflow: hidden;
}

.log-register .profile .profile-nome {
    text-align: center;
    display: inline-block;
    padding: 2rem 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 10px;
    color: var(--black);
    width: 100%;
    margin-bottom: 1rem;
}

.body.dark .log-register .profile .profile-nome {
    color: var(--white);
}

.update-btn {
    width: 100%;
    text-align: center;
    display: inline-block;
    padding: 2rem 1.5rem;
    font-size: 16pt;
    border-radius: 10px;
    color: var(--red);
    cursor: pointer;
    background: #eee;
    font-weight: bold;
    margin-bottom: 1rem;
}

.update-btn:hover {
    color: var(--white);
    background: var(--red);
}

.body.dark .update-btn {
    color: var(--red);
    background: #373737;
}

.body.dark .update-btn:hover {
    color: var(--white);
    background: var(--red);
}

.logout-btn {
    text-align: center;
    display: inline-block;
    padding: 2rem 1.5rem;
    font-size: 20pt;
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
    background: var(--red);
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
   
}

.logout-btn i{
    margin-left: 1rem;
    color: var(--white);
}

.logout-btn:hover {
    color: var(--white);
    background: var(--dark-red);
}

.header .log-register.active {
    right: 2rem;
    transition: 0.4s all;
}

/*Menu canto direito*/

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: #000;
    margin: 5px auto;
    transition: all 0.3s;
}

/*toggle modo dark*/

.icon {
    background: #e1e1e1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*
.icon::before{
    content: "\f186";
    font-family: fontAwesome;
    color: var(--red);
    font-size: 25px;
}

.body.dark .icon::before{
    content: "\f185";
}*/

#moon {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red);
}

.body.dark #moon {
    display: none;
}

.body #sun {
    display: none;
}

.body.dark #sun {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--red);
}

/*Modo Dark*/

/*Nav Bar*/

.body.dark .header {
    box-shadow: var(--box-shadow-dark);
}

.body.dark .header .navbar a {
    color: var(--white);
}

.body.dark .header .navbar a:hover {
    color: var(--red);
}

/*fim nav bar*/

/*botões nav bar*/

/*Icons lado direito*/

.body.dark .header .icons div {
    background: #181818;
    color: rgb(180, 180, 180);
}

/*Mouse passar pelo icons*/

.body.dark .header .icons div:hover {
    background: var(--red);
    color: #fff;
}

/*Login Card*/

.body.dark .header .log-register {
    box-shadow: var(--box-shadow-dark);
    background: #252525;
}

.body.dark .header .log-register .button-box {
    box-shadow: var(--box-shadow-dark);
}

.body.dark .header .log-register #btn {
    box-shadow: var(--box-shadow-dark);
}

.body.dark .header .log-register #btn {
    background: #373737;
}

/*Alterar quando mouse passar pelo texto dos itens*/

.header .navbar a:hover {
    color: var(--red);
}

/*Menu canto direito*/

.menu {
    cursor: pointer;
    display: none;
}

.menu .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: #000;
    margin: 5px auto;
    transition: all 0.3s;
}

.header.dark {
    background: #212121;
}

.body.dark .icon {
    background: #181818;
}

@media (max-width:991px) {

    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }

    section {
        padding: 1rem;
    }

    .header .log-register {
        height: 218px;
    }

}

@media (max-width:768px) {

    .body.dark .header .navbar {
        box-shadow: var(--box-shadow-dark);
        background: #252525;
    }

    .body.dark .header .navbar.active {
        box-shadow: var(--box-shadow-dark);
        background: #252525;
    }

    #menu-btn {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 125%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
        transition: 0.6s all;
    }

    .header .navbar.active {
        right: 2rem;
        transition: 0.4s all;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px) {

    html {
        font-size: 50%;
    }

    .header {
        padding: 1.5rem;
    }

    .header .log-register {
        height: 202px;
    }

}

@media (max-width:350px) {

    html {
        font-size: 45%;
    }

    .header {
        padding: 1.5rem;
    }

    .navbar.active {
        width: 90%;
    }

    .log-register.active {
        width: 90%;
    }

    .header .ifish-bar {
        width: 25%;
    }

    .header .log-register {
        height: 188px;
    }

}