.dashboard {
    margin-top: 100px;
    padding:1.5rem;
 }
 

.dashboard .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
    align-items: flex-start;
    margin-left: 7%;
    margin-right: 7%;
 }
 
 .dashboard .box-container .box{
    padding:1.5rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    border-radius: .5rem;
 }
 
 .dashboard .box-container .box h3{
    font-size: 3.5rem;
    color:var(--black);
 }
 
 .dashboard  h1{
    font-size: 3.5rem;
    color:var(--black);
    text-align: center;
 }

 .dashboard .box-container .box p{
    font-size: 2rem;
    background-color: var(--light-bg);
    color:var(--light-color);
    padding:1.5rem;
    margin:1rem 0;
    border-radius: .5rem;
    color:var(--black);
 }