:root {
   --white: #ffffff;
   --white-medium: #f9f9f9;
   --light-color: #666;
   --black: #000000;
   --red: #cc1825;
   --dark-red: #9a1e25;
   --box-shadow: 0 0.1rem 0.5rem #ccc;
   --box-shadow-dark: 0 0.1rem 0.5rem rgb(20, 20, 20);
}

.produtos .mensagem{
   position:static;
   max-width: 1200px;
   margin:0 auto;
   padding-top:2rem;
   padding-bottom:2rem;
   display: flex;
   align-items: center;
   justify-content:center;
   gap:1.5rem;
   z-index: 10000;
}

.produtos .mensagem span{
   font-size: 2rem;
   color:var(--black);
}

.produtos .mensagem i{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--red);
}

.produtos .mensagem i:hover{
   color:var(--black);
}

.titulo {
   text-align:center;
   padding-top: 2.5rem;
   margin-bottom: 2.3rem;
   text-transform: uppercase;
   color: var(--black);
   font-size: 3.5rem;
}

.card-produtos .btn {
   
   color: var(--red);
   background: #eee;
   text-align: center;
   width: 100%;
}

.card-produtos .btn:hover {
   color: var(--white);
   background: var(--red);
}


.produtos {
   padding: 5rem 2rem;
   max-width: 1200px;
   margin: 0 auto;
}

.produtos .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.produtos .box-container .box {
   padding: 2rem;
   text-align: center;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   position: relative;
}

.produtos .box-container .box .preco {
   position: absolute;
   top: 1rem;
   left: 1rem;
   padding: 1rem;
   border-radius: .5rem;
   background-color: var(--red);
   font-size: 1.8rem;
   color: var(--white);
}

.produtos .box-container .box .preco span {
   font-size: 2.5rem;
   color: var(--white);
   margin: 0 .2rem;
}

.produtos .box-container .box .fa-eye {
   position: absolute;
   top: 1rem;
   right: 1rem;
   border-radius: .5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   color: var(--black);
   font-size: 2rem;
   background-color: var(--white);
}

.produtos .box-container .box .fa-eye:hover {
   color: var(--white);
   background-color: var(--black);
}

.produtos .box-container .box img {
   width: 100%;
   margin-bottom: 1rem;
}

.produtos .box-container .box .nome {
   font-size: 2rem;
   color: var(--black);
   padding: 1rem 0;
}

.produtos .box-container .box .quantidade {
   background: #eee;
   margin: .5rem 0;
   border-radius: .5rem;
   padding: 1.8rem 1.3rem;
   font-size: 1.8rem;
   color: var(--black);
   width: 100%;
}

.empty-produtos {
   padding: 1.5rem;
   background: var(--white);
   color: var(--red);
   border-radius: .5rem;
   font-size: 2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   text-transform: capitalize;
}

.card-produtos .box-container {
   display: grid;
   grid-template-columns: repeat(auto-fit, 35rem);
   gap: 1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.card-produtos .box-container .box {
   padding: 2rem;
   text-align: center;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   position: relative;
}

.card-produtos .box-container .box .preco {
   padding: 1rem 0;
   color: var(--red);
   font-size: 2.5rem;
}

.card-produtos .box-container .box .preco span {
   font-size: 2.5rem;
   color: var(--white);
   margin: 0 .2rem;
}

.card-produtos .box-container .box .fa-eye {
   position: absolute;
   top: 1rem;
   right: 1rem;
   border-radius: .5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   color: var(--black);
   font-size: 2rem;
   background-color: var(--white);
}

.card-produtos .box-container .box .fa-eye:hover {
   color: var(--white);
   background-color: var(--black);
}

.card-produtos .box-container .box .fa-times {
   position: absolute;
   top: 1rem;
   left: 1rem;
   border-radius: .5rem;
   height: 4.5rem;
   line-height: 4.3rem;
   width: 5rem;
   color: var(--white);
   font-size: 2rem;
   background-color: var(--red);
}

.card-produtos .box-container .box .fa-times:hover {
   background-color: var(--black);
}

.card-produtos .box-container .box img {
   width: 100%;
   margin-bottom: 1rem;
}

.card-produtos .box-container .box .nome {
   font-size: 2rem;
   color: var(--black);
   padding-top: 1rem;
}

.card-produtos .box-container .box .quantidade {

   margin-top: 1rem;
   border-radius: .5rem;
   padding: 1.2rem 1.4rem;
   font-size: 1.8rem;
   color: var(--black);
   width: 100%;
}

.body.dark .titulo{
   color: var(--white);
}

.body.dark .produtos .box-container .box {
   background-color: #252525;
   box-shadow: var(--box-shadow-dark);
}

.body.dark .produtos .box-container .box .nome {
   color: var(--white);
}

.body.dark .produtos .box-container .box .quantidade {
   background: #373737;
   color: var(--white);
}

.body.dark .card-produtos .btn {
   color: var(--red);
   background: #373737;
}
.body.dark .card-produtos .btn:hover {
   color: var(--white);
   background: var(--red);
}

.body.dark .produtos .mensagem span{
   color:var(--white);
}

.body.dark.produtos .mensagem i{
   color:var(--red);
}

.body.dark .produtos .mensagem i:hover{
   color:var(--white);
}

.body.dark .empty-produtos {
   background: #373737;
   color: var(--red);
   box-shadow: var(--box-shadow-dark);
}