@font-face {
    font-family: SulSansRegular;
    src: local(SulSans), url(font/SulSans-Regular.otf);
}

@font-face {
    font-family: SulSansMedium;
    src: local(SulSans), url(font/SulSans-Medium.otf);
}

@font-face {
    font-family: SulSansBlack;
    src: local(SulSans), url(font/SulSans-Black.otf);
}

:root {
    --white:#ffffff;
    --white-medium:#f9f9f9;
    --light-color:#666;
    --black:#000000;
    --red:#cc1825;
    --dark-red:#9a1e25;
    --box-shadow:0 0.1rem 0.5rem #ccc;
    --box-shadow-dark:0 0.1rem 0.5rem rgb(20, 20, 20);
}

*::selection{
    background-color: var(--red);
    color:var(--white);
 }

.message{
    position: sticky;
    top:0;
    max-width: 1200px;
    margin:0 auto;
    background-color: var(--light-bg);
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:1.5rem;
    z-index: 10000;
 }
 
 .message span{
    font-size: 2rem;
    color:var(--black);
 }
 
 .message i{
    font-size: 2.5rem;
    cursor: pointer;
    color:var(--red);
 }
 
 .message i:hover{
    color:var(--black);
 }

/*Barra de Rolagem Lateral*/

.body::-webkit-scrollbar {
    width: 14px;
    /* width of the entire scrollbar */
}

.body::-webkit-scrollbar-track {
    background: var(--white-medium);
    /* color of the tracking area */
}

.body::-webkit-scrollbar-thumb {
    background-color: #606060;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid var(--white-medium);
    /* creates padding around scroll thumb */
}

.body::-webkit-scrollbar-thumb:hover {
    background-color: #aaaaaa;
}

/*Barra de Rolagem Lateral DARK */

.body.dark::-webkit-scrollbar {
    width: 14px;
    /* width of the entire scrollbar */
}

.body.dark::-webkit-scrollbar-track {
    background: #181818;
    /* color of the tracking area */
}

.body.dark::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #181818;
    /* creates padding around scroll thumb */
}

.body.dark::-webkit-scrollbar-thumb:hover {
    background-color: #717171;
}

*{
    font-family: SulSansRegular;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    border:none;
    text-decoration: none;
    text-transform: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    margin: 0;
    background: var(--white-medium);
}

.body.dark {
    background: #181818;
}

.body.dark .inicial-text .text-h1 {
    color:var(--white);
}

.body.dark .inicial-text p {
    color:var(--white);
}
/*Slide Fotos*/
.body.dark .container {
    box-shadow: var(--box-shadow-dark);
}
/*Inicial*/

.inicial-main {
    margin-top: 88px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Textos*/

.incial-left {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inicial-text {
    font-family: SulSansRegular;
    max-width: 37rem;
    transform: translate(0%, -20%);
}

.inicial-text .text-h4 {
    color: var(--red);
    font-size: 5rem;
    margin-bottom: 2rem;
}

.inicial-text .text-h1 {
    color: #000;
    font-size: 7rem;
    margin-bottom: 2rem;
    line-height: 6rem;
}

.inicial-text p {
    color: #000;
    margin-bottom: 6rem;
}

.inicial-text a {
    outline: hidden;
    text-decoration: none;
    text-align: center;
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-size: 1.5rem;
}

.inicial-btn {
    transition: all 0.5s;
}

.inicial-btn:hover {
    background: var(--dark-red);
}

/*Slide fotos*/

.inicial-right {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Contém toda sessão do lado direito*/

.container {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    transform: translate(0%, -10%);
    box-shadow: var(--box-shadow);
}

/*Tamanho dos slides 400% pq são 4 fts logo 500*4=2000px*/

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

/*Reset input seletor slide*/

.slides input {
    display: none;
    margin: 0;
}

/*Tamanho Imagem*/

.imagens {
    width: 25%;
    transition: .6s;
}

.imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Posição seletor slide*/

.roll-slide {
    transform: translate(35%, -125%);
    align-items: center;
    display: flex;
}

/*Estilo Seletor*/

.roll-slide .nav {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #888;
    margin: 6px;
    cursor: pointer;
    transition: .9s;
}

.roll-slide .nav:hover {
    background: #fff;
    border: 2px solid #fff;
}

/*-25% por causa das 4 fts*/

#radio-1:checked~.one {
    margin-left: 0;
}

#radio-2:checked~.one {
    margin-left: -25%;
}

#radio-3:checked~.one {
    margin-left: -50%;
}

#radio-4:checked~.one {
    margin-left: -75%;
}

/*Login*/

.main-login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-img {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: var(--red);
    border-radius: 20px;
}

.card-login {
    color: var(--white);
    font-family: SulSansRegular;
    font-weight: 800;
    margin: 0;
}

.textfield {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: var(--dark-red);
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: var(--white);
    margin-bottom: 10px;
}

.textfield>input::placeholder {
    color: #a6a29f;
    font-family: SulSansRegular;
}

.btn-login {
    width: 80%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    font-family: SulSansBlack;
    font-size: 14pt;
    letter-spacing: 2px;
    color: var(--red);
}

p {
    font-size: 13pt;
}

.btn-cadastro {
    width: 30%;
    margin: 5px;
    outline: none;
    font-weight: 800;
    font-family: SulSansBlack;
    font-size: 13pt;
    color: var(--white);
    background: var(--red);
    justify-content: center;
    align-items: center;
}

a {
    outline: hidden;
    text-decoration: none;
    text-align: center;
}

li a:link {
    color: var(--white);
}

li a:visited {
    color: var(--white);
}

li a:hover {
    color: var(--white);
}

li a:active {
    color: var(--white);
}

 

/*Responsividade*/

@media only screen and (max-width: 1026px) {
    .btn-cadastro {
        width: 60%;
    }
}

@media only screen and (max-width: 1000px) {
    .card-login {
        width: 85%;
    }
}

@media only screen and (max-width: 1000px) {
    .main-login {
        flex-direction: column;
    }
    .left-img {
        width: 50%;
        height: auto;
        margin-bottom: 10%;
    }
    .right-login {
        width: 100%;
        height: auto;
    }
}


@media (max-width:991px){

    html{
        font-size: 55%;
    }

    #eye{
        position: absolute;
        top: 39%;
        right: 22px;
        font-size: 18px;
        width: 30px;
        height: 30px;
    }

    .header{
        padding:2rem;
    }

    section{
        padding:1rem;
    }

    .header .shopping-cart{
        position: absolute;
        top:125%;
        right:-110%;
        padding:1rem;

    }

    .header .cart-total .delete-btn{
        font-size: 7.5pt;
        width: 45%;    
    }

    .header .cart-total .continue-btn{
        font-size: 7.5pt;
        width: 46.6%;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .search-form{
        width:10%;
    }

    .header .navbar{
        position: absolute;
        top:125%;
        right:-110%;
        width:30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
        transition: 0.6s all;
    }

    .header .navbar.active{
        right:2rem;
        transition: 0.4s all;
    }

    .header .navbar a{
        font-size: 2rem;
        margin:2rem 2.5rem;
        display: block;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }

    .footer .box-container .box .payment-img{
        margin: 2rem auto;
    }

    #eye{
        position: absolute;
        top: 39%;
        right: 22px;
        font-size: 16px;
        width: 28px;
        height: 28px;
    }

    .header{
        padding:1.5rem;
    }

    .header .cart-total .delete-btn{
        font-size: 7.5pt;
        width: 41%;    
    }

    .header .cart-total .continue-btn{
        font-size: 7.5pt;
        width: 50.6%;
    }

    .header .shopping-car .box .nome{
        font-size: 11pt;
    }

    .header .shopping-car .box .flex-btn .option-btn{
        font-size: 8pt;
    }
}