@font-face {
    font-family: SulSansRegular;
    src: local(SulSans), url(font/SulSans-Regular.otf);
}
@font-face {
    font-family: SulSansMedium;
    src: local(SulSans), url(font/SulSans-Medium.otf);
}
@font-face {
    font-family: SulSansBlack;
    src: local(SulSans), url(font/SulSans-Black.otf);
}

::-webkit-scrollbar {
    display: none;
}

body{
    color: #000000;
    font-family: SulSansRegular;
    margin:0;
    background: #ffffff;
}

.ifish{
    width: 6%;
}

.main-bar{
    width: 98vw;
    height: 10vh;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 30px;
    background: #cc1825;
    margin: 0px;
}

.card-cart{
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    background: #ffffff;
    border-radius: 20px;
}
.popup-cart{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
    border-radius: 20px;
    margin-top: 50px;
}
.popup-cart2{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
    border-radius: 2px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn-cart{
    background: #cc1825;
    width: 80%;
    padding: 10px 0px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    outline: none;
    font-weight: 800;
    font-family: SulSansBlack;
    font-size: 10pt;
    letter-spacing: 2px;
    color: #ffffff;
}

.item1{
    width: 15vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ededed;
    border-radius: 25px;
    flex-direction: column;
    padding: 40px 10px;
}

.item2{
    width: 15vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ededed;
    border-radius: 25px;
    flex-direction: column;
    padding: 40px 10px;
}

.item3{
    width: 15vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background: #ededed;
    border-radius: 25px;
    flex-direction: column;
    padding: 40px 10px;
}

.item4{
    width: 15vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ededed;
    border-radius: 25px;
    flex-direction: column;
    padding: 40px 10px;
}

.item5{
    width: 15vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ededed;
    border-radius: 25px;
    flex-direction: column;
    padding: 40px 10px;
}

.item6{
    width: 15vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ededed;
    border-radius: 25px;
    flex-direction: column;
    padding: 40px 10px;
}

.popup-cart img{
    border-radius: 20px;
}

.popup-cart2 img{
    border-radius: 20px;
}

.itens{
    width: 75%;
}

#text-item{

    font-size: 14pt;
}

#text1 {
    padding-left: 23px;
}

#text2{
    padding-right: 65px;
}

#text3{
    padding-left: 23px;
}

#text4{
    padding-right: 51px;
}

#text5{
    padding-right: 51px;
}

#text6{
    padding-left: 23px;
}

@media only screen and (max-width: 1026px){
    .btn-cadastro{
        width: 60%;
    }
}

@media only screen and (max-width: 1000px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 1000px){
    .main-login{
        flex-direction: column;
    }
    .left-img{
        width: 50%;
        height:auto;
        margin-bottom: 10%;
    }

    .right-login{
        width: 100%;
        height:auto;
    }
}