:root {
    --white: #ffffff;
    --white-medium: #f9f9f9;
    --light-color: #666;
    --black: #000000;
    --red: #cc1825;
    --dark-red: #9a1e25;
    --box-shadow: 0 0.1rem 0.5rem #ccc;
    --box-shadow-dark: 0 0.1rem 0.5rem rgb(20, 20, 20);
 }

.placed-orders {
    margin-top: 50px;
}

.placed-orders .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: flex-start;
}

.placed-orders .box-container .box {
    padding: 1rem 2rem;
    flex: 1 1 40rem;
    border: var(--border);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.placed-orders .box-container .box p {
    margin: .5rem 0;
    line-height: 1.8;
    font-size: 2rem;
    color: var(--light-color);
}

.placed-orders .box-container .box p span {
    color: var(--green);
}